<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="login()">
      <fieldset class="radius">
        <div class="row">
          <div class="large-6 columns">
            <input type="text" name="email" placeholder="email" ng-model="credentials.email" required/>
          </div>
            <div class="large-6 columns">
            <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button large expand radius">Log In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
